.card{
    display:block;
    width:230px;
    height:50px;
    font-size: 18px;
    background-color: yellow;
    -webkit-box-shadow: 15px 17px 8px -10px rgba(67,114,90,1);
-moz-box-shadow: 15px 17px 8px -10px rgba(67,114,90,1);
box-shadow: 15px 17px 8px -10px rgba(67,114,90,1);
margin-top:10px;
margin-left:  20px;
}
.card a{
    text-decoration: none;
    color:darkcyan;
    display: block;
}
.card a:hover{
    background-color: none;
}
.module-topics{
    font-size: 25px;
    text-align: left;
    display:flex;
    flex-wrap: wrap;
    list-style: none;
}
.admin-home{
    margin-top:30px;

}
.admin-home a i, .new-file {
 color: rgb(9, 129, 209);
 font-size: 30px;
}
.card-containers{
    display:flex;
    width:100%;
    flex-direction: column;
}